<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Hello'"></head>
<style>


</style>
<body>
<div class="hb-index">
    <div th:replace="layout :: navbar"></div>

    <div class="hb-user-content">
        <div th:replace="myInfo/layout :: userLeft"></div>

        <div class="hb-user-content-right hb-user-follow-right pull-left">
            <h3>我的粉丝 <span class="pull-right" th:text="'共' + ${fansUserPaging.get('totalNum') + '人'}">共2人</span></h3>


            <div th:if="${fansUserPaging.get('totalNum') == 0}">
                <div th:replace="layout :: noContent"></div>
            </div>

            <div th:if="${fansUserPaging.get('totalNum') > 0}">
                <div class="media" th:each="obj:${fansUserPaging.get('followUserList')}">
                    <div class="media-left">
                        <a href="#" th:href="@{/user/{id}(id=${obj.getId()})}">
                            <img th:src="@{${obj.getAvatar()}}" class="img-circle">
                        </a>
                    </div>
                    <div class="media-body">
                        <a th:href="@{/user/{id}(id=${obj.getId()})}" th:text="${obj.getNickname()}">昵称</a>
                        <a class="pull-right" href="javascript:;" th:onclick="'followUser('+${obj.getFollowType() == 1?0:1}+','+${obj.getId()}+',this)'" th:text="${obj.getFollowType() == 1?'取消关注':'关注'}">取消关注</a>
                    </div>
                </div>
            </div>

            <nav aria-label="Page navigation" th:if="${fansUserPaging.get('totalPage') > 1}">
                <ul class="pagination" >
                    <li th:class="${fansUserPaging.get('nowPage')==1}?'disabled' : ''"><a href="javascript:;" th:onclick="${fansUserPaging.get('nowPage')==1}?'':'goPage('+${fansUserPaging.get('nowPage')-1}+')'"><span aria-hidden="true">&laquo;</span></a></li>
                    <li th:if="${fansUserPaging.get('nowPage')-3 >=1}" ><a href="javascript:;" th:text="${fansUserPaging.get('nowPage') -3}" th:onclick="'goPage('+${fansUserPaging.get('nowPage')-3}+')'">1</a></li>
                    <li th:if="${fansUserPaging.get('nowPage')-2 >=1}" ><a href="javascript:;" th:text="${fansUserPaging.get('nowPage') -2}" th:onclick="'goPage('+${fansUserPaging.get('nowPage')-2}+')'">1</a></li>
                    <li th:if="${fansUserPaging.get('nowPage')-1 >=1}" ><a href="javascript:;" th:text="${fansUserPaging.get('nowPage') -1}" th:onclick="'goPage('+${fansUserPaging.get('nowPage')-1}+')'">1</a></li>
                    <li class="active"><a href="javascript:;" th:text="${fansUserPaging.get('nowPage')}" >1</a></li>
                    <li th:if="${fansUserPaging.get('nowPage')+1 <=fansUserPaging.get('totalPage')}"><a href="javascript:;" th:text="${fansUserPaging.get('nowPage') +1}" th:onclick="'goPage('+${fansUserPaging.get('nowPage')+1}+')'">1</a></li>
                    <li th:if="${fansUserPaging.get('nowPage')+2 <=fansUserPaging.get('totalPage')}"><a href="javascript:;" th:text="${fansUserPaging.get('nowPage') +2}" th:onclick="'goPage('+${fansUserPaging.get('nowPage')+2}+')'">1</a></li>
                    <li th:if="${fansUserPaging.get('nowPage')+3 <=fansUserPaging.get('totalPage')}"><a href="javascript:;" th:text="${fansUserPaging.get('nowPage') +3}" th:onclick="'goPage('+${fansUserPaging.get('nowPage')+3}+')'">1</a></li>
                    <li th:class="${fansUserPaging.get('nowPage')==fansUserPaging.get('totalPage')}?'disabled' : ''" ><a href="javascript:;" th:onclick="${fansUserPaging.get('nowPage')==fansUserPaging.get('totalPage')}?'':'goPage('+${fansUserPaging.get('nowPage')+1}+')'"><span aria-hidden="true">&raquo;</span></a></li>
                </ul>
            </nav>

        </div>
    </div>

    <div th:include="layout :: footer"></div>
</div>

</body>
<script th:inline="javascript">

    // 调整地址
    function goPage(page) {
        var url = /*[[@{/myInfo/fans}]]*/'';

        url += '&page='+page;
        window.location.href = url;
    }

    function followUser(type,uid,obj) {
        var url = /*[[@{/myInfo/setFollow}]]*/'';

        $.ajax({
            url: url,
            type: 'post',
            data: {uid:uid,type:type},
            success: function (data) {
                if(data.state == 0){
                    // 修改类型
                    if(type == 0){
                        $(obj).text('关注');
                        $(obj).attr('onclick','followUser(1,'+uid+',this)');
                    }else{
                        $(obj).text('取消关注');
                        $(obj).attr('onclick','followUser(0,'+uid+',this)');
                    }
                }else{
                    alert(data.msg);
                }
            },
            error: function (err) {
                console.log(err)
            }
        });
    }

</script>
</html>
