<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Hello'"></head>
<style>
    body{
        background: #ffffff;
        background-repeat:no-repeat;
        background-size: cover;
        color: #FFFFFF;
    }
</style>
<body th:styleappend="'background-image: url('+ @{/images/login-bg.jpg}+')'">
<div class="hb-index">
    <div th:replace="layout :: navbar"></div>

    <div class="hb-register">
        <h3>账号登陆</h3>
        <form action="" th:action="@{/login/check}" method="post">
            <div class="form-group">
                <label class="control-label">账 号:</label>
                <input type="text" class="form-control" th:value="${username}" name="username" placeholder="请输入账号">
            </div>
            <div class="form-group">
                <label class="control-label">密 码:</label>
                <input type="password" class="form-control" th:value="${password}" name="password" placeholder="请输入密码">
            </div>
            <!--<div class="checkbox">-->
                <!--<label>-->
                    <!--<input type="checkbox" name="remember_me" th:checked="${remember_me} == 1" value="1"> 记住我-->
                <!--</label>-->
            <!--</div>-->
            <p th:class="${message} ? 'alert alert-danger' : ''" th:if="message" th:text="${message}"></p>
            <button type="submit" class="btn btn-primary">登 陆</button>
        </form>
    </div>

    <div th:include="layout :: footer"></div>
</div>
</body>
</html>
