<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="userLeft" class="hb-user-content-left pull-left">
    <ul class="list-group text-center">
        <li class="list-group-item" th:classappend="${myArticleRotuer} eq 'write' ?'hb-active':''">
            <a href="#" th:href="@{/myArticle/write}"> 写博客 </a>
        </li>
        <li class="list-group-item" th:classappend="${myArticleRotuer} eq 'index' ?'hb-active':''">
            <a href="#" th:href="@{/myArticle}"> 博客管理 </a>
        </li>
        <li class="list-group-item" th:classappend="${myArticleRotuer} eq 'myArticleComment' ?'hb-active':''">
            <a href="#" th:href="@{/myArticleComment}"> 评论管理 </a>
        </li>
        <li class="list-group-item" th:classappend="${myArticleRotuer} eq 'myCategory' ?'hb-active':''">
            <a href="#" th:href="@{/myCategory}"> 个人分类管理 </a>
        </li>
    </ul>
</div>

</html>
